* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Slab', serif;
}

h2 {
  font-size: 25px;
  margin: 15px 0;
  color: gray;
}

p {
  font-family: sans-serif;
  margin: 0;
  font-size: 28px;
  color: #ecf0f1;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
}
h3 {
  font-size: 46px;
  font-weight: bold;
  
  
}

#quote-box {
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    background-color: #252827;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .button,
#tweet-quote{
        
    display: inline-blick;
    cursor: pointer;
    font-size: 20px;
    
}

#tweet-quote {
    margin-left: 15px;
    padding: 7px 10px;
    text-decoration: none;
    color: #1da1f2;
}
.main .button{
    float: right;
    color: rgba(52, 211, 52, 0.781);
}